html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  } 
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}
.button:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}