<div class="center clenovia">
    @for (var i = 0; i < 6; i++){
        <div class="center">
            <div class="profile p1">
                <img src="/img/Man.webp" alt="Man" class="img1" />
                <h1>Člen @(i+1)</h1>
                <p>Frontend Developer</p>
            </div>
        </div>
    }
</div>
