<div class="center">
    <div class="profile">
        <img src="/img/Man.webp" alt="Man" class="img1"/>
        <h1>Ján Novák</h1>
        <p>Frontend Developer</p>
        <a href="/" class="button button2">Späť</a>
    </div>
</div>